version: "3.9"
services:
  api:
    build: ./backend
    container_name: api
    command: uvicorn api.app:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./backend:/app
      - ./backend/keys:/app/keys:ro
    env_file:
      - ./backend/.env
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/app/keys/service-account.json
      - REDIS_HOST=redis
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_SECURE=false
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - minio

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    container_name: minio
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  worker:
    build: ./backend
    container_name: worker
    command: python worker/worker.py
    env_file:
      - ./backend/.env
    environment:
      - PYTHONPATH=/app
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_QUEUE=convert
      - WORKER_ID=worker_a
      - METRICS_PORT=9102
      - OUTPUT_BASE_DIR=/tmp/media_jobs
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
      - MINIO_SECURE=false
      - FIREBASE_PROJECT_ID=espotifai-81056
    depends_on:
      - redis
      - minio
    volumes:
      - ./backend:/app
      - ./backend/keys:/app/keys:ro

volumes:
  minio-data: